:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
	font-family: 'kemco';
	src: url(./kemco.ttf);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.title-hed {
  font-family: 'kemco', sans-serif;
  text-align: center;
  color: #ffc20e;
}

.title-left {
  font-family: 'kemco', sans-serif;
  color: #ffc20e;
  padding-bottom: 15px;
}

.s-nft {
  font-family: "kemco", sans-serif;
}

.o-p {
  font-family: "kemco", sans-serif;
  text-align: center !important;
  
}

.p-k {
  font-family: "kemco", sans-serif;
}

.s-but {
  background: #ffc20e !important;
  color: #ff0b0b !important;
  border: none;
  cursor: pointer;
  font-size: 1.2rem !important;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
  margin-top: 20px !important;
  box-shadow: 2px 2px 0px #c49512 !important; 
  font-family: "kemco", sans-serif !important;
  max-width: 200px !important;
}

.s-but:hover{
  background: #ffc20e;
  box-shadow: 1px 1px 0px #c49512;
  transform: translate(1px, 1px);
}

.a-but {
  background: #0e87ff !important;
  color: #ffc20e !important;
  border: none;
  cursor: pointer;
  font-size: 1.2rem !important;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
  margin-top: 20px;
  box-shadow: 2px 2px 0px #0a5198 !important; 
  font-family: "kemco", sans-serif !important;
  max-width: 200px;
}

.a-but:hover{
  background: #0e87ff;
  box-shadow: 1px 1px 0px #0a5198 !important;
  transform: translate(1px, 1px);
}

.claim-but {
  border: none;
  cursor: pointer;
  font-size: 1.2rem !important;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
  margin-top: 20px;
  box-shadow: 2px 2px 0px #755aa5 !important; 
  font-family: "kemco", sans-serif !important;
  max-width: 200px;
}

.claim-but:hover {
  background: #b388ff;
  box-shadow: 2px 2px 0px #755aa5 !important;
  transform: translate(1px, 1px);
}

@media screen and (max-width:825px) {
  .main-c {
    width:500px !important;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
